 /*Styling form and resume secation */
 body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
 }
  form {
   margin: auto ;
   background-color: rgb(red, green, blue);
   border: radious 8px;
   box-shadow: 0 4px 8p rgba(red, green, blue, alpha);
   padding :  20px ;
   max-width:  600px ;
  }
  h1 {
    text-align: center;
    color:  black
  }
  fieldset {
   border: 2px solid skyblue;
   border-radius: 8px;

   
  }
  legend {
    font-weight: bold;
    text-align: left;
    color:rgb(red, green, blue)
  }
  label{
    display: block;
    margin-top: 10px;
    color:black
  }
  input,textarea {
    margin-top: 4px;
    padding: 8px;
    width:calc(100%-1px);
    border:1px solid skyblue;
    border-radius: 4px;
    box-sizing:border-box ;
  }
  button {
    display: block;
    width: 100%;
    background-color: skyblue;
    color:black;
    border:none;
    border-radious: 4px;
    box-shadow: o 4px 8px rgba(red, green, blue, alpha);
    margin-top :10px;
    font-size: 180;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
  }
  button:hover {
  color: blue;
  }
   #resume-dispaly{
     max-width: 600px;
     margin: auto;
     padding: 20px;
     border: 2px solid skyblue;
     border-radius: 8px;
     background-color: rgb(red, green, blue);
     box-shadow: 0 4px 8px rgba(red, green, blue, alpha);
     
   }
    #resume-display h2{
      color: black;
    }
